.blueOff {
  background-color: rgb(130, 132, 255);
  border: none;
  height: 115px;
  width: 115px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 2.5px;
}
.redOff {
  background-color: rgb(255, 183, 183);
  border: none;
  height: 115px;
  width: 115px;
  margin-top: 5px;
  margin-left: 2.5px;
  margin-right: 5px;
}
.greenOff {
  background-color: rgb(175, 250, 187);
  border: none;
  height: 115px;
  width: 115px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.yellowOff {
  background-color: rgb(255, 255, 255);
  border: none;
  height: 115px;
  width: 115px;
  margin-top: 2.5px;
  margin-bottom: 5px;
  margin-left: 2.5px;
  margin-right: 5px;
}
.blueOn {
  background-color: blue;
  border: none;
  height: 115px;
  width: 115px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 2.5px;
}
.redOn {
  background-color: rgb(246, 37, 37);
  border: none;
  height: 115px;
  width: 115px;
  margin-top: 5px;
  margin-left: 2.5px;
  margin-right: 5px;
}
.greenOn {
  background-color: rgb(19, 241, 19);
  border: none;
  height: 115px;
  width: 115px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.yellowOn {
  background-color: rgb(255, 255, 0);
  border: none;
  height: 115px;
  width: 115px;
  margin-top: 2.5px;
  margin-bottom: 5px;
  margin-left: 2.5px;
  margin-right: 5px;
}
.white {
  background-color: rgba(255, 255, 255, 0.808);
  padding: 50px;
  margin: 4px 2px;
}

.gameColor {
  top: 0px 0px;
  height: 250px;
  width: 250px;
  background-color: rgb(3, 4, 36);
  position: absolute;
  top: 30%;
  left: 45%;
  margin-left: -80px;
  margin-top: -100px;
}
